* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --background-main-color: #fff;
  --background-second-color: #d85940;
  --background-third-color: #f5f5f5;

  --font-main-color: #000;
  --font-second-color: #fff;
  --font-third-color: #d85940;
  --font-fourth-color: #b0b0b0;
  --font-fifth-color: #5e5e5e;

  --button-color: #4CAF50;
  --button-text-color: #ffffff;

  --hover-background-color: #555555;
  --hover-background-button-color: #333333;
  --hover-text-color: #ffffff;

  --hover-button-color: #3e8e41;
  --hover-button-text-color: #ffffff;
  --hover-button-text-button-color: #ffffff;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);

}

body {
  background-color: var(--background-main-color);
  scroll-behavior: smooth;
  /* height: 10000px; */
}

img {
  width: 100%;
  height: 100%;
}

/* Start Section Main  Header */
main .section-main-header {
  min-height: 50vh;
  width: 100%;
  padding-top: 100px;
  /* display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column; */
  /* z-index: 1000; */
  overflow: hidden;
  padding-bottom: 50px;
}

main .section-main-header .main-header-scroll {
  transition: transform 0.5s ease;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

main .section-main-header .line1,
main .section-main-header .line2,
main .section-main-header .line3,
main .section-main-header .line4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;

}

main .line4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 350px;
  margin: 0px auto;
}

main .section-main-header .line1 p {
  color: var(--font-third-color);
  margin: 0px 10px;
  font-size: 1rem;
}

main .section-main-header .line1 svg {
  color: var(--font-third-color);
}

main .section-main-header .line2 p {
  color: var(--font-main-color);
  font-size: 5rem;
  margin: 20px 0px 0px 0px;
  font-weight: 300;
}

main .section-main-header .line3 p {
  color: var(--font-main-color);
  font-size: 5rem;
  margin: 10px 0px;
  font-weight: 400;
}

main .line4 p {
  color: var(--font-main-color);
  font-size: 1.6rem;
  margin: 10px 0px;
  font-weight: 500;
  width: 280px;
  position: relative;
  transition: transform .6s ease;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  overflow: hidden;
  padding-bottom: 5px;
}

main .line4 {
  cursor: pointer;
}

main .line4 span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: var(--background-second-color);
  margin: 0px 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .6s ease;
  overflow: hidden;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
}



main .line4 span i {
  height: 100%;
  width: 100%;
  color: var(--font-second-color);

  transform: rotate(-45deg) translate(130%, -55%);
  -webkit-transform: rotate(-45deg) translate(130%, -55%);
  -moz-transform: rotate(-45deg) translate(130%, -55%);
  -ms-transform: rotate(-45deg) translate(130%, -55%);
  -o-transform: rotate(-45deg) translate(130%, -55%);
  transition: transform .6s ease;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  font-size: 20px !important;
}

main .line4:hover span {
  transform: scale(1.6) rotate(45deg);
  -webkit-transform: scale(1.6) rotate(45deg);
  -moz-transform: scale(1.6) rotate(45deg);
  -ms-transform: scale(1.6) rotate(45deg);
  -o-transform: scale(1.6) rotate(45deg);
}

main .line4:hover span i {
  transform: rotate(-45deg) translate(30%, -58%);
  -webkit-transform: rotate(-45deg) translate(30%, -58%);
  -moz-transform: rotate(-45deg) translate(30%, -58%);
  -ms-transform: rotate(-45deg) translate(30%, -58%);
  -o-transform: rotate(-45deg) translate(30%, -58%);
}

main .line4 p::after {
  content: "";
  width: 97%;
  height: 2px;
  background-color: var(--font-main-color);
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(155%);
  -webkit-transform: translateX(155%);
  -moz-transform: translateX(155%);
  -ms-transform: translateX(155%);
  -o-transform: translateX(155%);

}

main .line4:hover p::after {
  animation: fill .6s alternate both;
  -webkit-animation: fill .6s alternate both;
}

@keyframes fill {
  0% {
    transform: translateX(155%);
    -webkit-transform: translateX(155%);
    -moz-transform: translateX(155%);
    -ms-transform: translateX(155%);
    -o-transform: translateX(155%);
  }

  100% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
}

/* End Section Main  Header */
/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-main-header .line2 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line3 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-main-header .line2 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line3 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-main-header .line2 p {
    font-size: 3rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 3rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-main-header .line2 p {
    font-size: 4rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 4rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-main-header .line2 p {
    font-size: 5rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 5rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .section-main-header .line2 p {
    font-size: 5rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 5rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* End Main Header Media Query */


/* Start Section Main Sup Header */
main .section-main-sup-header {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

}

main .section-main-sup-header .div-video {
  width: 98%;
  height: fit-content;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: scalex(1);
  -webkit-transform: scalex(1);
  -moz-transform: scalex(1);
  -ms-transform: scalex(1);
  -o-transform: scalex(1);
}

.div-video .custom-video {
  pointer-events: none;
  user-select: none;
  width: 100%;
  overflow: hidden;
}

.div-video .custom-video::-webkit-media-controls,
.div-video .custom-video::-moz-media-controls,
.div-video .custom-video::-ms-media-controls,
.div-video .custom-video::-o-media-controls {
  display: none !important;
  /* Hide controls across browsers */
}

main .section-main-sup-header .section-main-header {
  z-index: 100;
  overflow: hidden;
  position: absolute;
  transition: transform 0.5s ease;
  transform: translateY(-482px);
  -webkit-transform: translateY(-482px);
  -moz-transform: translateY(-482px);
  -ms-transform: translateY(-482px);
  -o-transform: translateY(-482px);
}

main .section-main-sup-header .section-main-header .line2 p,
main .section-main-sup-header .section-main-header .line3 p,
main .section-main-sup-header .section-main-header .line4 p {
  color: var(--font-second-color);
  /* color: red; */
}

main .section-main-sup-header .section-main-header .line4 p::after {
  background-color: var(--background-main-color);
}

main .section-main-sup-header .section-main-header .line1 p {
  color: var(--font-third-color);
}

main .section-main-sup-header .section-main-header .line1,
main .section-main-sup-header .section-main-header .line2,
main .section-main-sup-header .section-main-header .line3,
main .section-main-sup-header .section-main-header .line4 {}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-482px);
    -webkit-transform: translateY(-482px);
    -moz-transform: translateY(-482px);
    -ms-transform: translateY(-482px);
    -o-transform: translateY(-482px);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-482px);
    -webkit-transform: translateY(-482px);
    -moz-transform: translateY(-482px);
    -ms-transform: translateY(-482px);
    -o-transform: translateY(-482px);
  }
}

/* End Main Header Media Query */


/* End Section Main Sup Header */




/* Start section projects */
main .section-projects {
  width: 95%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-main-color);
  margin: 0px auto;
  padding: 10rem 0px;
}

main .section-projects .line1 {
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
  color: var(--font-third-color);
  position: relative;
  margin: 0px 0px 0px auto;
  padding: 3rem 0px;
}

main .section-projects .scroll-horizontal {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  /* overflow: hidden; */
  flex-wrap: nowrap;
  gap: 0px 30px;
  width: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
}

main .section-projects .scroll-horizontal .container-image {
  display: flex;
  align-items: end;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

main .section-projects .scroll-horizontal .container-image .horizontal-title {
  font-size: 1.5rem;
  color: var(--font-main-color);
  margin: 10px 20px 0px 0px;
}

main .section-projects .scroll-horizontal .container-2 .div-img,
main .section-projects .scroll-horizontal .container-3 .div-img {
  /* width: 400px; */
  height: 400px;
  position: relative;
  /*margin: 0px 0px 0px auto;
  */
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  overflow: hidden;
}

main .section-projects .scroll-horizontal .container-1 .div-img {
  /* width: 300px; */
  height: 400px;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  overflow: hidden;
}

main .section-projects .scroll-horizontal .container-4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

main .section-projects .scroll-horizontal .container-4 .details {
  /* background-color: red; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  transform: translate(-105%, -0%);
  -webkit-transform: translate(-105%, -0%);
  -moz-transform: translate(-105%, -0%);
  -ms-transform: translate(-105%, -0%);
  -o-transform: translate(-105%, -0%);
  text-align: end;
}

main .section-projects .scroll-horizontal .container-4 .details .horizontal-title {
  font-size: 3rem;
}

main .section-projects .scroll-horizontal .container-4 .details .div-line-button {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
}

main .section-projects .scroll-horizontal .container-4 .details .div-line-button .line-button {
  background-color: var(--background-third-color);
  color: var(--font-third-color);
  padding: 5px 15px;
}

main .section-projects .scroll-horizontal .container-4 .details .div-line-button .line-button:nth-child(1) {
  margin-right: 20px;
}

main .section-projects .scroll-horizontal .container-4 .details .line4 {
  width: 200px;
  text-align: start;
  margin: 0px 0px 0px auto;
  /* overflow: visible; */
}

main .section-projects .scroll-horizontal .container-4 .details .line4 p {
  /* background-color: #000; */
  /* overflow: visible; */
}

main .section-projects .scroll-horizontal .container-4 .details .line4 span {
  width: 20px;
  height: 12px;
  text-align: start;
  /* overflow: visible; */

}

main .section-projects .scroll-horizontal .container-4 .details .line4 i {
  transform: rotate(-45deg) translate(135%, -85%);
  -webkit-transform: rotate(-45deg) translate(135%, -85%);
  -moz-transform: rotate(-45deg) translate(135%, -85%);
  -ms-transform: rotate(-45deg) translate(135%, -85%);
  -o-transform: rotate(-45deg) translate(135%, -85%);
  transition: transform .6s ease;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  font-size: 20px !important;
}

main .section-projects .scroll-horizontal .container-4 .details .line4:hover span i {
  transform: rotate(-45deg) translate(25%, -85%);
  -webkit-transform: rotate(-45deg) translate(25%, -85%);
  -moz-transform: rotate(-45deg) translate(25%, -85%);
  -ms-transform: rotate(-45deg) translate(25%, -85%);
  -o-transform: rotate(-45deg) translate(25%, -85%);
}

main .section-projects .scroll-horizontal .container-4 .div-img {
  /* width: 600px; */
  height: 750px;
  overflow-y: hidden;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  overflow: hidden;
}

main .section-projects .scroll-horizontal .div-img img {
  /* position: relative; */
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  will-change: transform;
}


/* Animation for translating images horizontally */
@keyframes slideRight {
  0% {
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
    -moz-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    -o-transform: translateX(-60%);
  }

  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes slideRight-remove {

  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
  }
}

/* Animation for scaling image inside container-4 */
@keyframes scaleUp {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.2);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -o-transform: translateX(-50%) translateY(-50%) scale(0.2);
  }

  100% {
    transform: translateX(0%) translateY(0%) scale(1);
    -webkit-transform: translateX(0%) translateY(0%) scale(1);
    -moz-transform: translateX(0%) translateY(0%) scale(1);
    -ms-transform: translateX(0%) translateY(0%) scale(1);
    -o-transform: translateX(0%) translateY(0%) scale(1);
  }
}

@keyframes scaleUp-remove {

  0% {
    transform: translateX(0%) translateY(0%) scale(1);
    -webkit-transform: translateX(0%) translateY(0%) scale(1);
    -moz-transform: translateX(0%) translateY(0%) scale(1);
    -ms-transform: translateX(0%) translateY(0%) scale(1);
    -o-transform: translateX(0%) translateY(0%) scale(1);
  }

  100% {
    transform: translateX(100%) translateY(-100%) scale(.2);
    -webkit-transform: translateX(100%) translateY(-100%) scale(.2);
    -moz-transform: translateX(100%) translateY(-100%) scale(.2);
    -ms-transform: translateX(100%) translateY(-100%) scale(.2);
    -o-transform: translateX(100%) translateY(-100%) scale(.2);
  }

}

/* Apply slide animation to all container images */
.scroll-horizontal .container-1 .div-img img,
.scroll-horizontal .container-2 .div-img img,
.scroll-horizontal .container-3 .div-img img,
.scroll-horizontal .container-4 .div-img img {
  animation: slideRight 1s linear forwards;

}

/* Apply scaling animation to container-4 image */
.scroll-horizontal .container-4 .div-img img {
  animation: scaleUp 2.1s linear forwards;

}

/* Add class for triggering slide and scale animations */
.scroll-horizontal .container-4 .div-img img.scale-up {
  animation: scaleUp 1.3s linear forwards;
  -webkit-animation: scaleUp 1.3s linear forwards;
}

.scroll-horizontal .container-1 .div-img img.slideRight,
.scroll-horizontal .container-2 .div-img img.slideRight,
.scroll-horizontal .container-3 .div-img img.slideRight {
  animation: slideRight 1s linear forwards;

}

/* Add class for removing animations */
.scroll-horizontal .container-4 .div-img img.scale-up-remove {
  animation: scaleUp-remove 1.2s linear forwards;
  -webkit-animation: scaleUp-remove 1.2s linear forwards;
}

.scroll-horizontal .container-1 .div-img img.slideRight-remove,
.scroll-horizontal .container-3 .div-img img.slideRight-remove,
.scroll-horizontal .container-2 .div-img img.slideRight-remove {
  animation: slideRight-remove 2s linear forwards;
  -webkit-animation: slideRight-remove 2s linear forwards;
}


/* Start section projects Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {

  main .section-projects .scroll-horizontal .container-2,
  main .section-projects .scroll-horizontal .container-1,
  main .section-projects .scroll-horizontal .container-3 {
    display: none;
  }

  main .section-projects .scroll-horizontal .container-4 {
    width: 100%;
    height: 750px;
  }

  main .section-projects .scroll-horizontal .container-4 .details {
    transform: translate(0%, 110%);
    -webkit-transform: translate(0%, 110%);
    -moz-transform: translate(0%, 110%);
    -ms-transform: translate(0%, 110%);
    -o-transform: translate(0%, 110%);
  }

  main .section-projects .scroll-horizontal .container-4 .details .horizontal-title {
    font-size: 2rem;
  }

  main .section-projects .scroll-horizontal .container-4 .details .line-button {
    font-size: 1rem;
  }

  main .section-projects .scroll-horizontal .div-img {
    width: 100%;
  }

  main .section-projects .scroll-horizontal .container-4 {
    height: 500px;

  }

  main .section-projects .scroll-horizontal .container-4 .div-img {
    height: 500px;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {

  main .section-projects .scroll-horizontal .container-2,
  main .section-projects .scroll-horizontal .container-1,
  main .section-projects .scroll-horizontal .container-3 {
    display: none;
  }

  main .section-projects .scroll-horizontal .container-4 {
    width: 100%;
    height: 750px;
  }

  main .section-projects .scroll-horizontal .container-4 .details {
    transform: translate(0%, 110%);
    -webkit-transform: translate(0%, 110%);
    -moz-transform: translate(0%, 110%);
    -ms-transform: translate(0%, 110%);
    -o-transform: translate(0%, 110%);
  }

  main .section-projects .scroll-horizontal .container-4 .details .horizontal-title {
    font-size: 2rem;
  }

  main .section-projects .scroll-horizontal .container-4 .details .line-button {
    font-size: 1rem;
  }

  main .section-projects .scroll-horizontal .div-img {
    width: 100%;
  }

  main .section-projects .scroll-horizontal .container-4 {
    height: 500px;

  }

  main .section-projects .scroll-horizontal .container-4 .div-img {
    height: 500px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {

  main .section-projects .scroll-horizontal .container-2,
  main .section-projects .scroll-horizontal .container-1 {
    display: none;
  }

  main .section-projects .scroll-horizontal .container-3 {
    width: 50%;
    height: 400px;
  }

  main .section-projects .scroll-horizontal .container-4 {
    width: 50%;
    height: 750px;
  }

  main .section-projects .scroll-horizontal .container-4 .details .horizontal-title {
    font-size: 2rem;
  }

  main .section-projects .scroll-horizontal .container-4 .details .line-button {
    font-size: 1rem;
  }

  main .section-projects .scroll-horizontal .div-img {
    width: 100%;
  }

  main .section-projects .scroll-horizontal .container-3 .div-img {
    height: 250px;

  }

  main .section-projects .scroll-horizontal .container-4 {
    height: 500px;

  }

  main .section-projects .scroll-horizontal .container-4 .div-img {
    height: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  main .section-projects .scroll-horizontal .container-2,
  main .section-projects .scroll-horizontal .container-1 {
    display: none;
  }

  main .section-projects .scroll-horizontal .container-3 {
    width: 50%;
    height: 400px;
  }

  main .section-projects .scroll-horizontal .container-4 {
    width: 50%;
    height: 750px;
  }

  main .section-projects .scroll-horizontal .div-img {
    width: 100%;
  }

  main .section-projects .scroll-horizontal .container-3 .div-img {
    height: 250px;

  }

  main .section-projects .scroll-horizontal .container-4 {
    height: 500px;

  }

  main .section-projects .scroll-horizontal .container-4 .div-img {
    height: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  main .section-projects .scroll-horizontal .container-2,
  main .section-projects .scroll-horizontal .container-3 {
    width: 25%;
    height: 400px;
  }

  main .section-projects .scroll-horizontal .container-1 {
    width: 20%;
    height: 400px;
  }

  main .section-projects .scroll-horizontal .container-4 {
    width: 30%;
    height: 750px;
  }

  main .section-projects .scroll-horizontal .div-img {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  main .section-projects .scroll-horizontal .container-2,
  main .section-projects .scroll-horizontal .container-3 {
    width: 25%;
    height: 400px;
  }

  main .section-projects .scroll-horizontal .container-1 {
    width: 20%;
    height: 400px;
  }

  main .section-projects .scroll-horizontal .container-4 {
    width: 30%;
    height: 750px;
  }

  main .section-projects .scroll-horizontal .div-img {
    width: 100%;
  }
}

/* End section projects Media Query */

/* End section projects */


/* Start section Scroll in two dimensions */
.section-dimensions {
  /* background-color: red; */
  width: 100%;
  margin: 0px auto;
}

.section-dimensions .details {
  width: 95%;
  margin: 0px auto;
  /* height: 100%; */
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: start;
  align-content: center;
  flex-direction: column;
  font-size: 5rem;
}

.section-dimensions .details div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: row-reverse;
}

.section-dimensions .details div:nth-child(1) p:nth-child(2) {
  font-size: .3em;
  color: var(--font-fourth-color);
  margin: 0px 60px;
  max-width: 400px;
  text-align: start;
}

.section-dimensions .details div:nth-child(1) p:nth-child(1) {
  position: relative;
}

.section-dimensions .details div:nth-child(1) p:nth-child(1)::after {
  content: "ونابض بالحياة";
  position: absolute;
  width: 100%;
  /* background-color: red; */
  /* line-break: unset; */
  text-wrap: nowrap;
  bottom: 0px;
  left: 0px;
  transform: translate(-100%, 100%);
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
}

/* .section-dimensions .details div:nth-child(2){
  position: relative;
  width: 100%;
}
.section-dimensions .details div:nth-child(2) p{
  position: relative;
  position: absolute;
  margin: 0xp 100spx 0px 0px;
  
} */


.section-dimensions .scroller:nth-child(2) {
  /* max-width: 600px; */
  margin-top: 200px;
}

.section-dimensions .scroller .scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 3rem;
  align-items: end;
}

.section-dimensions .scroller:nth-child(3) .scroller__inner {
  padding-block: 1rem;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: start;
}

.section-dimensions .scroller__inner .div-img:nth-child(odd) {
  width: 320px;
  height: 250px;
}

.section-dimensions .scroller__inner .div-img:nth-child(even) {
  width: 420px;
  height: 450px;
}

.section-dimensions .scroller[data-animated="true"] {
  overflow: hidden;
  padding-bottom: 20px;
}

.section-dimensions .scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scrollX var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
  -webkit-animation: scrollX var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.section-dimensions .scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.section-dimensions .scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.section-dimensions .scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.section-dimensions .scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scrollX {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 0.5rem));
    -webkit-transform: translateX(calc(-50% - 0.5rem));
    -moz-transform: translateX(calc(-50% - 0.5rem));
    -ms-transform: translateX(calc(-50% - 0.5rem));
    -o-transform: translateX(calc(-50% - 0.5rem));
  }
}

.section-dimensions .about {
  margin: 3rem 1rem;
  max-width: 40%;
}

.section-dimensions .about p {
  max-width: 100%;
  font-size: 1.4rem;
  text-align: start;
  color: var(--font-fifth-color);
}

.section-dimensions .about .line4 {
  max-width: 125px;
  margin: 10px 0px 0px auto;
}

.section-dimensions .about .line4 p {
  color: var(--font-main-color);
}

.section-dimensions .about .line4 span {
  width: 50px;
  height: 15px;
}

/* Start section projects Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  .section-dimensions .details {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(2) {
    font-size: 1rem;
    text-wrap: wrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(1)::after {
    font-size: 2rem;
    transform: translate(-100%, 170%);
    -webkit-transform: translate(-100%, 170%);
    -moz-transform: translate(-100%, 170%);
    -ms-transform: translate(-100%, 170%);
    -o-transform: translate(-100%, 170%);
  }

  .section-dimensions .scroller__inner .div-img:nth-child(odd) {
    width: 200px;
    height: 190px;
  }

  .section-dimensions .scroller__inner .div-img:nth-child(even) {
    width: 300px;
    height: 390px;
  }

  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 100%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  .section-dimensions .details {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(2) {
    font-size: 1rem;
    text-wrap: wrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(1)::after {
    font-size: 2rem;
    transform: translate(-100%, 170%);
    -webkit-transform: translate(-100%, 170%);
    -moz-transform: translate(-100%, 170%);
    -ms-transform: translate(-100%, 170%);
    -o-transform: translate(-100%, 170%);
  }

  .section-dimensions .scroller__inner .div-img:nth-child(odd) {
    width: 220px;
    height: 200px;
  }

  .section-dimensions .scroller__inner .div-img:nth-child(even) {
    width: 320px;
    height: 400px;
  }

  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 100%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .section-dimensions .details {
    font-size: 3rem;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(2) {
    font-size: 1.5rem;
    text-wrap: wrap;
  }

  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 100%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 60%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 60%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }
}


/* End section Scroll in two dimensions */




/* Start section About */
main .section-about {
  width: 100%;
  margin: 200px auto;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 30px;
}

main .section-about .about-right {
  width: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

main .section-about .about-left {
  width: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

main .section-about .about-right .line1 {
  /* width: 100%; */
  position: relative;
  margin: 0px 0px 0px auto;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

main .section-about .about-right .line1 p {
  font-size: 18px;
  color: var(--font-third-color);
  margin: 0px 10px;
  text-align: center;
}

main .section-about .about-right .about-line2 {
  width: 100%;
}

main .section-about .about-right .about-line2 div:nth-child(1) p {
  font-size: 4rem;
  margin-bottom: 50px;
}

main .section-about .about-right .about-line2 div:nth-child(2) p {
  font-size: 1.4rem;
  /* margin-bottom: 50px; */
  color: var(--font-fifth-color);
  max-width: 630px;
  /* line-break: anywhere; */
  /* text-wrap: unset; */
  line-height: 1.2;
  /* letter-spacing: 1px; */
  /* word-break: ; */
  word-spacing: 1px;
  text-align: start;
}


main .section-about .about-left .div-video {
  width: 50%;
  height: 600px;
  position: relative;
  padding: 0px 30px;
}

main .section-about .about-left .div-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-about {
    width: 100%;
    margin: 100px auto;
    padding: 0px 10px;
  }

  main .section-about .about-right {
    width: 100%;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1rem;
    color: var(--font-fifth-color);
    min-width: 300px;
    font-weight: 500;
    line-height: 1.2;
    /* word-spacing: 1px; */
    text-align: start;
  }

  main .section-about .about-left {
    width: 100%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 10px 0px;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-about {
    width: 100%;
    margin: 100px auto;
    padding: 0px 10px;
  }

  main .section-about .about-right {
    width: 100%;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1rem;
    color: var(--font-fifth-color);
    min-width: 300px;
    font-weight: 500;
    line-height: 1.2;
    /* word-spacing: 1px; */
    text-align: start;
  }

  main .section-about .about-left {
    width: 100%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 10px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-about .about-right {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1rem;
    /* margin-bottom: 50px; */
    color: var(--font-fifth-color);
    max-width: 300px;
    font-weight: 500;
    /* line-break: anywhere; */
    /* text-wrap: unset; */
    line-height: 1.2;
    /* letter-spacing: 1px; */
    /* word-break: ; */
    word-spacing: 1px;
    text-align: start;
  }

  main .section-about .about-left {
    width: 50%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 10px 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-about .about-right {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1.2rem;
    /* margin-bottom: 50px; */
    color: var(--font-fifth-color);
    max-width: 300px;
    /* line-break: anywhere; */
    /* text-wrap: unset; */
    line-height: 1.2;
    /* letter-spacing: 1px; */
    /* word-break: ; */
    word-spacing: 1px;
    text-align: start;
  }

  main .section-about .about-left {
    width: 50%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 30px 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-about .about-right {
    width: 50%;
    padding-bottom: 100px;
  }

  main .section-about .about-left {
    width: 50%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 30px 30px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */

/* End Main Header Media Query */


/* End section About */


/* Start section Numbers */
main .section-numbers {
  width: 100%;
  display: flex;
  align-self: center;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: red; */
}

main .section-numbers .div-paragraph {
  width: 60%;
  /* background-color: red; */
  position: relative;
  margin: 0px auto 0px 0px;
}

main .section-numbers .div-paragraph p {
  width: 100%;
  font-size: 1.4rem;
  text-align: end;
  color: var(--font-fifth-color);
}

main .section-numbers .div-numbers {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 50px;
  /* background-color: red; */
}

main .section-numbers .div-numbers .div-img {
  width: 50px;
  height: 50px;
}

main .section-numbers .div-numbers img {
  width: 100%;
  height: 100%;
}

main .section-numbers .div-numbers>div {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

/* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
  margin: 0px 100px;
}

main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
  margin-left: 100px;
} */

main .section-numbers .div-numbers>div:nth-child(4) {
  margin-top: 50px;
}

main .section-numbers .div-numbers div .number1 {
  margin: 20px 0px;
  font-size: 3rem;
  text-align: end;
  font-weight: 700;
}

main .section-numbers .div-numbers div p {
  color: var(--font-fifth-color);
  font-size: 1.3rem;
  font-weight: 400;
  max-width: 300px;
}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-numbers .div-numbers {
    width: 100%;
    padding: 0px 100px;
  /* justify-content: center; */

  }
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px;
  }
  main .section-numbers .div-paragraph {
    width: 90%;
    
    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }
  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 270px;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-numbers .div-numbers {
    width: 100%;
    padding: 0px 100px;
  /* justify-content: center; */

  }
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px;
  }
  main .section-numbers .div-paragraph {
    width: 90%;
    
    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }
  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 270px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-numbers .div-numbers {
    width: 100%;
    padding: 0px 20px;
  }
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px auto;
  }
  main .section-numbers .div-paragraph {
    width: 90%;
    
    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }
  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 270px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-numbers .div-numbers {
    width: 90%;
  }
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px 100px;
  }
  main .section-numbers .div-paragraph {
    width: 90%;
    
    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }
  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 280px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-numbers .div-numbers {
    width: 70%;
  }
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px 100px;
  }
  main .section-numbers .div-paragraph {
    width: 90%;
    
    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }
  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px 100px;
  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  }
}

/* End Main Header Media Query */
/* End section Numbers */


/* Start section services */
/* main .section-service .about-right{
  width: 30%;
}
main .section-service .about-right{
  width: 30%;
} */
main .section-service .about-right .about-line2 div:nth-child(1) p{
  font-size: 2rem;
  max-width: 400px;
  font-weight: 500;
  
}
main .section-service .about-right .about-line2 .line4{
  margin: 20px 0px 0px auto;
  width: fit-content;
}
main .section-service .about-right .about-line2 .line4 p{
  width: fit-content;
  /* background-color: red; */
}
main .section-service .about-left{
  height: 600px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  align-content: flex-start;
  flex-wrap: nowrap;
}
main .section-service .about-left .div-video{
  height: 100%;
  transform: translate(0%,0%);
  -webkit-transform: translate(0%,0%);
  -moz-transform: translate(0%,0%);
  -ms-transform: translate(0%,0%);
  -o-transform: translate(0%,0%);
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
}
main .section-service .about-left .div-video .video-container{
  height: 70%;
  width: 400px;
}
main .section-service .about-left .div-video:nth-child(1) .video-container{
  height: 100%;
  width: 500px;
}
main .section-service .about-left .div-video:nth-child(1) .items-details{
  display: none;
}
main .section-service .about-left .div-video div:nth-child(2) p{
  font-size: 1.3rem;
  margin-top: 20px;
}
main .section-service .about-left .div-video div:nth-child(2) p:nth-child(2){
  font-size: 1.3rem;
  margin-top: 20px;
  color: var(--font-third-color);
}
main .section-service .about-left .div-video .video-container img{
  height: 100%;
}

/* End section services */