@font-face {
  font-family: PP Fragment Serif Regular;
  src: url(../Font/PPFragment-SerifRegular.otf);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --background-main-color: #fff;
  --background-second-color: #d85940;
  --background-third-color: #f5f5f5;

  --font-main-color: #000;
  --font-second-color: #fff;
  --font-third-color: #d85940;
  --font-fourth-color: #b0b0b0;
  --font-fifth-color: #5e5e5e;

  --button-color: #4CAF50;
  --button-text-color: #ffffff;

  --hover-background-color: #555555;
  --hover-background-button-color: #333333;
  --hover-text-color: #ffffff;

  --hover-button-color: #3e8e41;
  --hover-button-text-color: #ffffff;
  --hover-button-text-button-color: #ffffff;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);

}

body {
  background-color: var(--background-main-color);
}

img {
  width: 100%;
  height: 100%;
}

.smooth-scroll-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

/* Start Section Main  Header */
main .section-main-header {
  min-height: 50vh;
  width: 100%;
  padding-top: 100px;
  /* display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column; */
  /* z-index: 1000; */
  overflow: hidden;
  padding-bottom: 50px;
}

main .section-main-header .main-header-scroll {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
}

main .section-main-header .line1,
main .section-main-header .line2,
main .section-main-header .line3,
main .section-main-header .line4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;

}

main .line4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 350px;
  margin: 0px auto;
}

main .section-main-header .line1 p {
  color: var(--font-third-color);
  margin: 0px 10px;
  font-size: 1rem;
}

main .section-main-header .line1 svg {
  color: var(--font-third-color);
}

main .section-main-header .line2 p {
  color: var(--font-main-color);
  font-size: 5rem;
  margin: 20px 0px 0px 0px;
  font-weight: 300;
}

main .section-main-header .line3 p {
  color: var(--font-main-color);
  font-size: 5rem;
  margin: 10px 0px;
  font-weight: 400;
}

main .line4 p {
  color: var(--font-main-color);
  font-size: 1.6rem;
  margin: 10px 0px;
  font-weight: 500;
  width: 280px;
  position: relative;
  transition: transform .6s ease;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  overflow: hidden;
  padding-bottom: 5px;
}

main .line4 {
  cursor: pointer;
}

main .line4 span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: var(--background-second-color);
  margin: 0px 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .6s ease;
  overflow: hidden;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
}



main .line4 span i {
  height: 100%;
  width: 100%;
  color: var(--font-second-color);

  transform: rotate(-45deg) translate(130%, -55%);
  -webkit-transform: rotate(-45deg) translate(130%, -55%);
  -moz-transform: rotate(-45deg) translate(130%, -55%);
  -ms-transform: rotate(-45deg) translate(130%, -55%);
  -o-transform: rotate(-45deg) translate(130%, -55%);
  transition: transform .6s ease;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  font-size: 20px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main .line4:hover span {
  transform: scale(1.6) rotate(45deg);
  -webkit-transform: scale(1.6) rotate(45deg);
  -moz-transform: scale(1.6) rotate(45deg);
  -ms-transform: scale(1.6) rotate(45deg);
  -o-transform: scale(1.6) rotate(45deg);
}

main .line4:hover span i {
  transform: rotate(-45deg) translate(30%, -58%);
  -webkit-transform: rotate(-45deg) translate(30%, -58%);
  -moz-transform: rotate(-45deg) translate(30%, -58%);
  -ms-transform: rotate(-45deg) translate(30%, -58%);
  -o-transform: rotate(-45deg) translate(30%, -58%);
}

main .line4 p::after {
  content: "";
  width: 97%;
  height: 2px;
  background-color: var(--font-main-color);
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(155%);
  -webkit-transform: translateX(155%);
  -moz-transform: translateX(155%);
  -ms-transform: translateX(155%);
  -o-transform: translateX(155%);

}

main .line4:hover p::after {
  animation: fill .6s alternate both;
  -webkit-animation: fill .6s alternate both;
}

@keyframes fill {
  0% {
    transform: translateX(155%);
    -webkit-transform: translateX(155%);
    -moz-transform: translateX(155%);
    -ms-transform: translateX(155%);
    -o-transform: translateX(155%);
  }

  100% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
}

/* End Section Main  Header */
/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-main-header .line2 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line3 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-main-header .line2 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line3 p {
    font-size: 2rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-main-header .line2 p {
    font-size: 3rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 3rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-main-header .line2 p {
    font-size: 4rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 4rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-main-header .line2 p {
    font-size: 5rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 5rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .section-main-header .line2 p {
    font-size: 5rem;
    font-weight: 300;
  }

  main .section-main-header .line3 p {
    font-size: 5rem;
    font-weight: 400;
  }

  main .section-main-header .line4 p {
    font-size: 1.6rem;
  }
}

/* End Main Header Media Query */


/* Start Section Main Sup Header */
main .section-main-sup-header {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

}

main .section-main-sup-header .div-video {
  width: 98%;
  height: fit-content;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  transform: scalex(1);
  -webkit-transform: scalex(1);
  -moz-transform: scalex(1);
  -ms-transform: scalex(1);
  -o-transform: scalex(1);
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;
}

.div-video .custom-video {
  pointer-events: none;
  user-select: none;
  width: 100%;
  overflow: hidden;
}

.div-video .custom-video::-webkit-media-controls,
.div-video .custom-video::-moz-media-controls,
.div-video .custom-video::-ms-media-controls,
.div-video .custom-video::-o-media-controls {
  display: none !important;
  /* Hide controls across browsers */
}

main .section-main-sup-header .section-main-header {
  z-index: 100;
  overflow: hidden;
  position: absolute;
  transform: translateY(-482px);
  -webkit-transform: translateY(-482px);
  -moz-transform: translateY(-482px);
  -ms-transform: translateY(-482px);
  -o-transform: translateY(-482px);
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -o-transition: transform 1s linear;
}

main .section-main-sup-header .section-main-header .line2 p,
main .section-main-sup-header .section-main-header .line3 p,
main .section-main-sup-header .section-main-header .line4 p {
  color: var(--font-second-color);
  /* color: red; */
}

main .section-main-sup-header .section-main-header .line4 p::after {
  background-color: var(--background-main-color);
}

main .section-main-sup-header .section-main-header .line1 p {
  color: var(--font-third-color);
}

main .section-main-sup-header .section-main-header .line1,
main .section-main-sup-header .section-main-header .line2,
main .section-main-sup-header .section-main-header .line3,
main .section-main-sup-header .section-main-header .line4 {}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-460px);
    -webkit-transform: translateY(-460px);
    -moz-transform: translateY(-460px);
    -ms-transform: translateY(-460px);
    -o-transform: translateY(-460px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-482px);
    -webkit-transform: translateY(-482px);
    -moz-transform: translateY(-482px);
    -ms-transform: translateY(-482px);
    -o-transform: translateY(-482px);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .section-main-sup-header .section-main-header {
    transform: translateY(-482px);
    -webkit-transform: translateY(-482px);
    -moz-transform: translateY(-482px);
    -ms-transform: translateY(-482px);
    -o-transform: translateY(-482px);
  }
}

/* End Main Header Media Query */


/* End Section Main Sup Header */




/* Start section projects */
main .section-sup-projects {
  width: 96%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* flex-direction: column; */
  background-color: var(--background-main-color);
  margin: 0px auto;
  padding: 10rem 0px 0px 0px;
}

main .section-projects {
  width: 96%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* flex-direction: column; */
  background-color: var(--background-main-color);
  margin: 0px auto;
  padding: 0px 0px 10rem 0px;
}

main .section-sup-projects .line1 {
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
  color: var(--font-third-color);
  position: relative;
  margin: 0px 0px 0px auto;
  padding: 3rem 0px;
}

main .section-sup-projects .line1 p {
  margin: 0px 15px;
}

main .section-projects .swiper1 {
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 800px;
  position: relative;
  flex-direction: column;
  /* background-color: red; */
}

main .section-projects .swiper1 .span {
  width: 1.5%;
  height: 100%;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}




main .section-projects .swiper1 .swiper-wrapper .details {
  display: none;
}

main .section-projects .swiper1 .clone-details {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 35%;
  width: 25%;
  z-index: 10;
}

main .section-projects .swiper1 .clone-details .clone-horizontal-title {
  font-size: 3rem;
}

main .section-projects .swiper1 .clone-details .div-line-button {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}

main .section-projects .swiper1 .clone-details .div-line-button .line-button {
  background-color: var(--background-third-color);
  color: var(--font-third-color);
  padding: 5px 15px;
}

main .section-projects .swiper1 .clone-details .div-line-button .line-button:nth-child(2) {
  margin-right: 20px;
}

main .section-projects .swiper1 .clone-details .line4 {
  width: 210px;
  text-align: start;
  margin: 0px 0px 0px auto;
  flex-direction: row-reverse;
  /* overflow: visible; */
}
main .section-projects .swiper1 .clone-details .line4 p {
  /* background-color: #000; */
  /* overflow: visible; */
}

main .section-projects .swiper1 .clone-details .line4 span {
  width: 23px;
  height: 14px;
  text-align: start;
  /* overflow: visible; */

}

main .section-projects .swiper1 .clone-details .line4 i {
  transform: rotate(-44deg) translate(135%, -65%);
  -webkit-transform: rotate(-44deg) translate(135%, -65%);
  -moz-transform: rotate(-44deg) translate(135%, -65%);
  -ms-transform: rotate(-44deg) translate(135%, -65%);
  -o-transform: rotate(-44deg) translate(135%, -65%);
  transition: transform .6s ease;
  -webkit-transition: transform .6s ease;
  -moz-transition: transform .6s ease;
  -ms-transition: transform .6s ease;
  -o-transition: transform .6s ease;
  font-size: 20px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .section-projects .swiper1 .clone-details .line4:hover span i {
  transform: rotate(-45deg) translate(50%, -65%);
  -webkit-transform: rotate(-45deg) translate(50%, -65%);
  -moz-transform: rotate(-45deg) translate(50%, -65%);
  -ms-transform: rotate(-45deg) translate(50%, -65%);
  -o-transform: rotate(-45deg) translate(50%, -65%);
}

main .section-projects .swiper1 .numbers {
  position: relative;
  width: 100%;
  /* background-color: blue; */
}

main .section-projects .swiper1 .numbers .left {
  position: absolute;
  left: 0%;
  bottom: 0%;
  color: var(--hover-button-color);
  font-size: 30px;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

main .section-projects .swiper1 .numbers .left p {
  color: var(--font-third-color);
}

main .section-projects .swiper1 .numbers .left p hr {
  width: 90px;
  border: .1px solid var(--background-second-color);
  margin: 0px 10px;
  display: inline-block;
  opacity: .1;

}
main .section-projects .swiper1 .bottom-image {
  position: absolute;
  bottom: 43%;
  left: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 64%;
  font-size: 2rem;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
main .section-projects .swiper1 .swiper-slide {
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}

main .section-projects .swiper1 .bottom-image .clone3-horizontal-title {
  margin-left: 12%;
}

/* Start section projects Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-projects .swiper1 .span:nth-child(1) {
    background-color: white;
    left: 20%;
    height: 45%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(2) {
    background-color: white;
    left: 42%;
    height: 45%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(3) {
    background-color: white;
    left: 33%;
    height: 70%;
  }

  main .section-projects .swiper1 .projectImg {
    width: 100%;
    height: 250PX;
    position: relative;
  }

  main .section-projects .swiper1 .swiper-slide-active .projectImg {
    height: 450px !important;
    width: 100% !important;
  }

  main .section-projects .swiper1 .clone-details {
    display: block;
    position: absolute;
    bottom: 20%;
    right: 0%;
    width: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }

  main .section-projects .swiper1 .clone-details .div-line-button {
    font-size: 1rem;
    text-wrap: nowrap;
  }

  main .section-projects .swiper1 .clone-details .clone-horizontal-title {
    font-size: 2rem;
  }

  main .section-projects .swiper1 .bottom-image {
    position: absolute;
    bottom: 60%;
    left: 0px;
    justify-content: space-between;
    width: 35%;
    padding: 0px 20px;
    font-size: 1.2rem;
    /* background-color: red; */
  }

  main .section-projects .swiper1 .bottom-image .clone3-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }

  main .section-projects .swiper1 .bottom-image .clone2-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-projects .swiper1 .span:nth-child(1) {
    background-color: white;
    left: 20%;
    height: 45%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(2) {
    background-color: white;
    left: 42%;
    height: 45%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(3) {
    background-color: white;
    left: 33%;
    height: 70%;
    width: 2%;
  }

  main .section-projects .swiper1 .projectImg {
    width: 100%;
    height: 250PX;
    position: relative;
  }

  main .section-projects .swiper1 .swiper-slide-active .projectImg {
    height: 550px !important;
    width: 100% !important;
  }

  main .section-projects .swiper1 .clone-details {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }

  main .section-projects .swiper1 .clone-details .div-line-button {
    font-size: 1rem;
  }

  main .section-projects .swiper1 .clone-details .clone-horizontal-title {
    font-size: 2rem;
  }

  main .section-projects .swiper1 .bottom-image {
    position: absolute;
    bottom: 63%;
    left: 0px;
    justify-content: space-between;
    width: 35%;
    padding: 0px 20px;
    font-size: 1.5rem;
    /* background-color: red; */
  }

  main .section-projects .swiper1 .bottom-image .clone3-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }

  main .section-projects .swiper1 .bottom-image .clone2-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-projects .swiper1 .span:nth-child(1) {
    background-color: white;
    left: 20%;
    height: 38%;

  }

  main .section-projects .swiper1 .span:nth-child(2) {
    background-color: white;
    left: 42%;
    height: 38%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(3) {
    background-color: white;
    left: 59%;
    height: 100%;
  }

  main .section-projects .swiper1 .projectImg {
    width: 100%;
    height: 300PX;
    position: relative;
  }

  main .section-projects .swiper1 .swiper-slide-active .projectImg {
    height: 550px !important;
    width: 100% !important;
  }

  main .section-projects .swiper1 .clone-details {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0%;
    width: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }

  main .section-projects .swiper1 .bottom-image {
    position: absolute;
    bottom: 58%;
    left: 0px;
    justify-content: space-between;
    width: 60%;
    padding: 0px 20px;
    font-size: 1.5rem;
    /* background-color: red; */
  }

  main .section-projects .swiper1 .bottom-image .clone3-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }

  main .section-projects .swiper1 .bottom-image .clone2-horizontal-title {
    /* margin-left: 10%; */
    /* display: none; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-projects .swiper1 .span:nth-child(1) {
    background-color: white;
    left: 20%;
    height: 38%;

  }

  main .section-projects .swiper1 .span:nth-child(2) {
    background-color: white;
    left: 42%;
    height: 38%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(3) {
    background-color: white;
    left: 59%;
    height: 100%;
  }

  main .section-projects .swiper1 .projectImg {
    width: 100%;
    height: 300PX;
    position: relative;
  }

  main .section-projects .swiper1 .swiper-slide-active .projectImg {
    height: 550px !important;
    width: 100% !important;
  }

  main .section-projects .swiper1 .clone-details {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0%;
    width: 50%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }

  main .section-projects .swiper1 .bottom-image {
    position: absolute;
    bottom: 56%;
    left: 0px;
    justify-content: space-between;
    width: 60%;
    padding: 0px 30px;
    /* background-color: red; */
  }

  main .section-projects .swiper1 .bottom-image .clone3-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }

  main .section-projects .swiper1 .bottom-image .clone2-horizontal-title {
    /* margin-left: 10%; */
    /* display: none; */
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1399px) {

  main .section-projects .swiper1 .span:nth-child(1) {
    background-color: white;
    left: 20%;
    height: 38%;

  }

  main .section-projects .swiper1 .span:nth-child(2) {
    background-color: white;
    left: 42%;
    height: 38%;
    display: none;
  }

  main .section-projects .swiper1 .span:nth-child(3) {
    background-color: white;
    left: 59%;
    height: 100%;
  }

  main .section-projects .swiper1 .projectImg {
    width: 100%;
    height: 300PX;
    position: relative;
  }

  main .section-projects .swiper1 .swiper-slide-active .projectImg {
    height: 800px !important;
    /* width: 100% !; */
  }

  main .section-projects .swiper1 .clone-details {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 43%;
    width: 25%;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
  }

  main .section-projects .swiper1 .bottom-image {
    position: absolute;
    bottom: 56%;
    left: 0px;
    justify-content: space-between;
    width: 60%;
    padding: 0px 30px;
    /* background-color: red; */
  }

  main .section-projects .swiper1 .bottom-image .clone3-horizontal-title {
    /* margin-left: 10%; */
    display: none;
  }

  main .section-projects .swiper1 .bottom-image .clone2-horizontal-title {
    margin-left: 5%;
    /* display: none; */
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  main .section-projects .swiper1 .span:nth-child(1) {
    background-color: white;
    left: 15%;
    height: 51%;

  }

  main .section-projects .swiper1 .span:nth-child(2) {
    background-color: white;
    left: 40%;
    height: 51%;
  }

  main .section-projects .swiper1 .span:nth-child(3) {
    background-color: white;
    left: 65%;
    height: 100%;
  }


  main .section-projects .swiper1 .projectImg {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
  }

  main .section-projects .swiper1 .projectImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  main .section-projects .swiper1 .swiper-slide {
    /* display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    flex-direction: row; */
    position: relative;
    width: 25% !important;
    height: 400PX !important;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    /* transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0); */
    /* overflow: hidden; */
  }

  main .section-projects .swiper1 .swiper-slide-active {
    height: 800px !important;
    width: 34% !important;
  }

  main .section-projects .swiper1 .clone-details {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 36%;
    width: 25%;
    z-index: 10;
  }



}

/* End section projects Media Query */

/* End section projects */


/* Start section Scroll in two dimensions */
.section-dimensions {
  /* background-color: red; */
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.section-dimensions .details {
  width: 95%;
  margin: 0px auto;
  /* height: 100%; */
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: start;
  align-content: center;
  flex-direction: column;
  font-size: 4rem;
}

.section-dimensions .details div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: row-reverse;
  font-weight: 300;
  font-size: 5rem;
  
}

.section-dimensions .details div:nth-child(1) p:nth-child(2) {
  font-size: .3em;
  color: var(--font-fourth-color);
  margin: 0px 70px;
  max-width: 400px;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 100;
}

.section-dimensions .details div:nth-child(1) p:nth-child(1) {
  position: relative;
}

.section-dimensions .details div:nth-child(1) p:nth-child(1)::after {
  content: "ونابض بالحياة";
  position: absolute;
  width: 100%;
  /*background-color: red;
  *//*line-break: unset;
  */text-wrap: nowrap;
  bottom: 0px;
  left: 0px;
  transform: translate(-100%, 100%);
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
}

/* .section-dimensions .details div:nth-child(2){
  position: relative;
  width: 100%;
}
.section-dimensions .details div:nth-child(2) p{
  position: relative;
  position: absolute;
  margin: 0xp 100spx 0px 0px;
  
} */


.section-dimensions .scroller:nth-child(2) {
  /* max-width: 600px; */
  margin-top: 200px;
}

.section-dimensions .scroller .scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 3rem;
  align-items: end;
}

.section-dimensions .scroller:nth-child(3) .scroller__inner {
  padding-block: 1rem;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: start;
}

.section-dimensions .scroller__inner .div-img:nth-child(odd) {
  width: 320px;
  height: 250px;
}

.section-dimensions .scroller__inner .div-img:nth-child(even) {
  width: 420px;
  height: 450px;
}

.section-dimensions .scroller[data-animated="true"] {
  /* overflow: hidden; */
  padding-bottom: 20px;
}

.section-dimensions .scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scrollX var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear none;
  -webkit-animation: scrollX var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear none;
}

.section-dimensions .scroller[data-direction="right"] {
  --_animation-direction: reverse;
  transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  -o-transform: translateX(-10%);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.section-dimensions .scroller[data-direction="left"] {
  --_animation-direction: forwards;
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.section-dimensions .scroller[data-speed="fast"] {
  --_animation-duration: 1s;
}

.section-dimensions .scroller[data-speed="slow"] {
  --_animation-duration: 1s;
}

/* @keyframes scrollX {
  from {
    transform: translateX(20%);
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
}

  to {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
}
} */

.section-dimensions .about {
  margin: 3rem 1rem;
  max-width: 40%;
}

.section-dimensions .about p {
  max-width: 100%;
  font-size: 1.4rem;
  text-align: start;
  color: var(--font-fifth-color);
}

.section-dimensions .about .line4 {
  max-width: 125px;
  margin: 10px 0px 0px auto;
}

.section-dimensions .about .line4 p {
  color: var(--font-main-color);
}

.section-dimensions .about .line4 span {
  width: 50px;
  height: 15px;
}

/* Start section projects Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  .section-dimensions .details {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(2) {
    font-size: 1rem;
    text-wrap: wrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(1)::after {
    font-size: 2rem;
    transform: translate(-100%, 170%);
    -webkit-transform: translate(-100%, 170%);
    -moz-transform: translate(-100%, 170%);
    -ms-transform: translate(-100%, 170%);
    -o-transform: translate(-100%, 170%);
  }

  .section-dimensions .scroller__inner .div-img:nth-child(odd) {
    width: 200px;
    height: 190px;
  }

  .section-dimensions .scroller__inner .div-img:nth-child(even) {
    width: 300px;
    height: 390px;
  }

  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 100%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  .section-dimensions .details {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(2) {
    font-size: 1rem;
    text-wrap: wrap;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(1)::after {
    font-size: 2rem;
    transform: translate(-100%, 170%);
    -webkit-transform: translate(-100%, 170%);
    -moz-transform: translate(-100%, 170%);
    -ms-transform: translate(-100%, 170%);
    -o-transform: translate(-100%, 170%);
  }

  .section-dimensions .scroller__inner .div-img:nth-child(odd) {
    width: 220px;
    height: 200px;
  }

  .section-dimensions .scroller__inner .div-img:nth-child(even) {
    width: 320px;
    height: 400px;
  }

  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 100%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .section-dimensions .details {
    font-size: 3rem;
  }

  .section-dimensions .details div:nth-child(1) p:nth-child(2) {
    font-size: 1.5rem;
    text-wrap: wrap;
  }

  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 100%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 60%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-dimensions .about {
    margin: 3rem 1rem;
    max-width: 60%;
  }

  .section-dimensions .about p {
    font-size: 1rem;
  }
}


/* End section Scroll in two dimensions */




/* Start section About */
main .section-about {
  width: 100%;
  margin: 200px auto;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 30px;
}

main .section-about .about-right {
  width: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

main .section-about .about-left {
  width: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

main .section-about .about-right .line1 {
  /* width: 100%; */
  position: relative;
  margin: 0px 0px 0px auto;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

main .section-about .about-right .line1 p {
  font-size: 18px;
  color: var(--font-third-color);
  margin: 0px 10px;
  text-align: center;
}

main .section-about .about-right .about-line2 {
  width: 100%;
}

main .section-about .about-right .about-line2 div:nth-child(1) p {
  font-size: 4rem;
  margin-bottom: 50px;
}

main .section-about .about-right .about-line2 div:nth-child(2) p {
  font-size: 1.4rem;
  /* margin-bottom: 50px; */
  color: var(--font-fifth-color);
  max-width: 630px;
  /* line-break: anywhere; */
  /* text-wrap: unset; */
  line-height: 1.2;
  /* letter-spacing: 1px; */
  /* word-break: ; */
  word-spacing: 1px;
  text-align: start;
}

main .section-about .about-left .div-video {
  width: 50%;
  height: 600px;
  position: relative;
  padding: 0px 30px;
  transform: scaleX(1) translateX(0%);
  -webkit-transform: scaleX(1) translateX(0%);
  -moz-transform: scaleX(1) translateX(0%);
  -ms-transform: scaleX(1) translateX(0%);
  -o-transform: scaleX(1) translateX(0%);
}

@keyframes move {
  0% {
    transform: scaleX(1.4) translateX(50%);
    -webkit-transform: scaleX(1.4) translateX(50%);
    -moz-transform: scaleX(1.4) translateX(50%);
    -ms-transform: scaleX(1.4) translateX(50%);
    -o-transform: scaleX(1.4) translateX(50%);
  }

  100% {
    transform: scaleX(1) translateX(0%);
    -webkit-transform: scaleX(1) translateX(0%);
    -moz-transform: scaleX(1) translateX(0%);
    -ms-transform: scaleX(1) translateX(0%);
    -o-transform: scaleX(1) translateX(0%);
  }
}


main .section-about .about-left .div-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-about {
    width: 100%;
    margin: 100px auto;
    padding: 0px 10px;
  }

  main .section-about .about-right {
    width: 100%;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1rem;
    color: var(--font-fifth-color);
    min-width: 300px;
    font-weight: 500;
    line-height: 1.2;
    /* word-spacing: 1px; */
    text-align: start;
  }

  main .section-about .about-left {
    width: 100%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 10px 0px;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-about {
    width: 100%;
    margin: 100px auto;
    padding: 0px 10px;
  }

  main .section-about .about-right {
    width: 100%;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1rem;
    color: var(--font-fifth-color);
    min-width: 300px;
    font-weight: 500;
    line-height: 1.2;
    /* word-spacing: 1px; */
    text-align: start;
  }

  main .section-about .about-left {
    width: 100%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 10px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-about .about-right {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1rem;
    /* margin-bottom: 50px; */
    color: var(--font-fifth-color);
    max-width: 300px;
    font-weight: 500;
    /* line-break: anywhere; */
    /* text-wrap: unset; */
    line-height: 1.2;
    /* letter-spacing: 1px; */
    /* word-break: ; */
    word-spacing: 1px;
    text-align: start;
  }

  main .section-about .about-left {
    width: 50%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 10px 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-about .about-right {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 100px;
  }

  main .section-about .about-right .about-line2 div:nth-child(1) p {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  main .section-about .about-right .about-line2 div:nth-child(2) p {
    font-size: 1.2rem;
    /* margin-bottom: 50px; */
    color: var(--font-fifth-color);
    max-width: 300px;
    /* line-break: anywhere; */
    /* text-wrap: unset; */
    line-height: 1.2;
    /* letter-spacing: 1px; */
    /* word-break: ; */
    word-spacing: 1px;
    text-align: start;
  }

  main .section-about .about-left {
    width: 50%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 30px 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-about .about-right {
    width: 50%;
    padding-bottom: 100px;
  }

  main .section-about .about-left {
    width: 50%;
  }

  main .section-about .about-left .div-video {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 30px 30px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */

/* End Main Header Media Query */


/* End section About */


/* Start section Numbers */
main .section-numbers {
  width: 100%;
  display: flex;
  align-self: center;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: red; */
}

main .section-numbers .div-paragraph {
  width: 60%;
  /* background-color: red; */
  position: relative;
  margin: 0px auto 0px 0px;
}

main .section-numbers .div-paragraph p {
  width: 100%;
  font-size: 1.4rem;
  text-align: end;
  color: var(--font-fifth-color);
}

main .section-numbers .div-numbers {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 50px;
  /* background-color: red; */
}

main .section-numbers .div-numbers .div-img {
  width: 50px;
  height: 50px;
}

main .section-numbers .div-numbers img {
  width: 100%;
  height: 100%;
}

main .section-numbers .div-numbers>div {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

/* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
  margin: 0px 100px;
}

main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
  margin-left: 100px;
} */

main .section-numbers .div-numbers>div:nth-child(4) {
  margin-top: 50px;
}

main .section-numbers .div-numbers div .number1 {
  margin: 20px 0px;
  font-size: 3rem;
  text-align: end;
  font-weight: 700;
}

main .section-numbers .div-numbers div p {
  color: var(--font-fifth-color);
  font-size: 1.3rem;
  font-weight: 400;
  max-width: 300px;
}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-numbers .div-numbers {
    width: 100%;
    padding: 0px 100px;
    /* justify-content: center; */

  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px;
  }

  main .section-numbers .div-paragraph {
    width: 90%;

    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }

  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 270px;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-numbers .div-numbers {
    width: 100%;
    padding: 0px 100px;
    /* justify-content: center; */

  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px;
  }

  main .section-numbers .div-paragraph {
    width: 90%;

    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }

  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 270px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-numbers .div-numbers {
    width: 100%;
    padding: 0px 20px;
  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px auto;
  }

  main .section-numbers .div-paragraph {
    width: 90%;

    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }

  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 270px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-numbers .div-numbers {
    width: 90%;
  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px 100px;
  }

  main .section-numbers .div-paragraph {
    width: 90%;

    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }

  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */
  main .section-numbers .div-numbers div p:nth-child(3) {
    color: var(--font-fifth-color);
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 280px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .section-numbers .div-numbers {
    width: 70%;
  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px 100px;
  }

  main .section-numbers .div-paragraph {
    width: 90%;

    /* background-color: red; */
    position: relative;
    margin: 0px auto;
  }

  /* main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  } */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(3)) {
    margin: 0px 100px;
  }

  main .section-numbers .div-numbers>div:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(2)) {
    margin-left: 100px;
  }
}

/* End Main Header Media Query */
/* End section Numbers */


/* Start section services */
/* main .section-service .about-right{
  width: 30%;
}
main .section-service .about-right{
  width: 30%;
} */
/* main .section-service {
  padding-bottom: 100px;
  background-color: red;

}  */
main .section-service .about-right .about-line2 div:nth-child(1) p {
  font-size: 2rem;
  max-width: 400px;
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;
}

main .section-service .about-right .about-line2 .line4 {
  margin: 20px 0px 0px auto;
  width: fit-content;
}

main .section-service .about-right .about-line2 .line4 p {
  width: fit-content;
  /* background-color: red; */
}

main .section-service .about-left .div-video {
  height: 100%;
  /* width: 400px !important; */
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
}

main .section-service .about-left .div-video .video-container {
  height: 70%;
  width: 400px;
}

/* main .section-service .about-left .div-video:nth-child(1) .video-container{
  height: 100%;
  width: 500px;
} */
/* main .section-service .about-left .div-video:nth-child(1) .items-details{
  display: none;
} */
main .section-service .about-left .div-video div:nth-child(2) p {
  font-size: 1.3rem;
  margin-top: 20px;
}

main .section-service .about-left .div-video div:nth-child(2) p:nth-child(2) {
  font-size: 1.3rem;
  margin-top: 20px;
  color: var(--font-third-color);
}

main .section-service .about-left .div-video .video-container img {
  height: 100%;
}

main .section-service .about-left .div-video .items-details .mainParagraph {
  display: none;
}

main .section-service .swiper2 {
  overflow: hidden;
}

main .section-service .about-left .swiper-slide-active .items-details {
  display: none;
}

main .section-service .about-left .swiper-slide-active .video-container {
  height: 100% !important;
  width: 500px !important;
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}
main .section-service .about-left .video-container img{
  object-fit: cover;
}


/* Start Main Header Media Query */
/* Extra small devices (Less than phone 430) */
@media only screen and (max-width: 430px) {
  main .section-service .about-right {
    width: 100%;
  }

  main .section-service .about-left {
    width: 95%;
    margin: 0px auto;
    height: 400px;
  }

  main .section-service .about-left .div-video .video-container {
    height: 80%;
    width: 100%;
  }

  .swiper-slide-active .video-container {
    height: 100% !important;
    width: 100% !important;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
  }

  .swiper-slide-active .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Extra small devices (phones, 600px and 430) */
@media only screen and (min-width: 430px) and (max-width: 600px) {
  main .section-service .about-right {
    width: 100%;
  }

  main .section-service .about-left {
    width: 95%;
    margin: 0px auto;
    height: 400px;
  }

  main .section-service .about-left .div-video .video-container {
    height: 80%;
    width: 100%;
  }

  .swiper-slide-active .video-container {
    height: 100% !important;
    width: 100% !important;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
  }

  .swiper-slide-active .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  main .section-service .about-right {
    width: 100%;
  }

  main .section-service .about-left {
    width: 95%;
    margin: 0px auto;
    height: 400px;
  }

  main .section-service .about-left .div-video .video-container {
    height: 80%;
    width: 100%;
  }

  .swiper-slide-active .video-container {
    height: 100% !important;
    width: 100% !important;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
  }

  .swiper-slide-active .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .section-service .about-right {
    width: 100%;
  }

  main .section-service .about-left {
    width: 95%;
    margin: 0px auto;
    height: 600px;
  }

  main .section-service .about-left .div-video .video-container {
    height: 80%;
    width: 100%;
  }

  .swiper-slide-active .video-container {
    height: 100% !important;
    width: 100% !important;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
  }

  .swiper-slide-active .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1399px) {

  main .section-service .about-right {
    width: 20%;
  }

  main .section-service .about-left {
    width: 80%;
    height: 600px;
  }

  main .section-service .about-left .div-video .video-container {
    height: 80%;
    width: 100%;
  }

  .swiper-slide-active .video-container {
    height: 100% !important;
    width: 100% !important;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
  }

  .swiper-slide-active .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  main .section-service .about-right {
    width: 35%;
  }

  main .section-service .about-left {
    width: 65%;
    height: 600px;
  }

  main .section-service .about-left .div-video .video-container {
    height: 80%;
    width: 100%;
  }

  .swiper-slide-active .video-container {
    height: 100% !important;
    width: 100% !important;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
  }

  .swiper-slide-active .video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

/* End Main Header Media Query */


/* End section services */